#encoding UTF-8
<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="profile" href="http://gmpg.org/xfn/11" />

        <title>$station.location – текущи метеорологични условия</title>

        <!-- Open Graph -->
        <meta property="og:site_name" content="$station.location Текущи метеорологични условия" />
        <meta property="og:description" content="Текущи метеорологични условия в $station.location" />
		<meta property="og:type" content="website" />

        <!-- Icons -->
        <link rel="icon" href="favicon.ico" type="image/png">
		<link rel="apple-touch-icon" href="touch-icon.png"/>

        <!-- Styles -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/main.css">

        <!-- Skripte -->
        <script src="js/modernizr-2.6.2.min.js"></script>

        <script type="text/javascript">
            function openNoaaFile(date)
            {
                var url = "NOAA/NOAA-";
                url = url + date;
                url = url + ".txt";
                if(date !== "Месечно обобщение" && date !== "Годишно обобщение") {
                    window.location=url;
                }
            }
        </script>
    </head>
    <body>
        <header>
            <div class="container-fix" >
                <h1><i class="fa fa-cloud" ></i> $station.location</h1>
            </div>
            <div class="container-fix" >
                <div class="h-left vertical-align-top" >
                <p>$station.latitude[0]&deg; $station.latitude[1]' $station.latitude[2]Ш | $station.longitude[0]&deg; $station.longitude[1]' $station.longitude[2]Д | $station.altitude | <a href="https://www.google.com/maps/?q=$station.location" target="_blank" ><i class="fa fa-map-marker" ></i> Покажи на картата</a></p>
                <h2>Текущи метеорологични условия</h2>
                <p><i class="fa fa-clock-o" ></i> $current.dateTime</p>
                </div>

                <div class="h-right vertical-align-top" >
                    <table>
                        <tr><td><b>Станция:</b></td><td>$station.hardware</td></tr>
                        <tr><td><b>Софтуер:</b></td><td><a href="http://weewx.com/" target="_blank" >weewx v$station.version</a></td></tr>
                        <tr><td><b>Време на работа на софтуера:</b></td><td>$station.uptime</td></tr>
                        <tr><td><b>Време на работа на сървъра:</b></td><td>$station.os_uptime</td></tr>
                    </table>
                </div>

                <nav>
                    <ul>
                        <li class="active" ><a href="index.html" >Сега</a></li>
                        <li><a href="week.html" >Седмица</a></li>
                        <li><a href="month.html" >Месец</a></li>
                        <li><a href="year.html" >Година</a></li>
                        <li><a href="RSS/weewx_rss.xml" >RSS</a></li>
                        <li><select name="noaaselect" onchange="openNoaaFile(value)">
                                <option>Месечно обобщение</option>
                                #for $monthYear in $SummaryByMonth
                                    <option value="$monthYear">$monthYear</option>
                                #end for
                            </select></li>
                        <li><select name="noaaselect" onchange="openNoaaFile(value)">
                                <option>Годишно обобщение</option>
                                #for $yr in $SummaryByYear
                                    <option value="$yr">$yr</option>
                                #end for
                            </select></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="main" >
        <div class="container" >

            <div class="left" >

                <div class="card" >
                    <h1><i class="fa fa-sun-o m-orange" ></i> Текущи условия</h1>
                    <table class="tablespacer">
                        <tr><td>Външна температура</td><td>$current.outTemp</td></tr>
                        <tr><td><abbr title="Усещана температура, когато се отчете допълнителното изстиване на човешкото тяло на открито в следствие на вятъра.">Мразовитост<abbr></td><td>$current.windchill</td></tr>
                        <tr><td><abbr title="Усещана температура, когато се отчете намаленото изстиване на човешкото тяло в следствие на относителната влажност.">Топлинен индекс</abbr></td><td>$current.heatindex</td></tr>
                        <tr><td><abbr title="Температурата, при която водните изпарения кондензират на базата на относителна влажност и температура.">Точка на оросяване</abbr></td><td>$current.dewpoint</td></tr>
                        <tr><td><abbr title="Количеството водна пара във въздуха, изразено като процент от количеството, нужно за насищане при дадената температура.">Относителна влажност</abbr></td><td>$current.outHumidity</td></tr>
                        <tr><td><abbr title="Суровата, некоригирана стойност на атмосферното налягане, измерена от инструмента.">Налягане</abbr></td><td>$current.pressure</td></tr>
                        <tr><td><abbr title="Налягане, коригирано за надморска височина, температура и влажност.">Барометър</abbr></td><td>$current.barometer</td></tr>
                        <tr><td><abbr title="Налягане, коригирано за надморска височина чрез стандартен температурен профил.">Висотомер</abbr></td><td>$current.altimeter</td></tr>
                        <tr><td>Тенденция на барометъра ($trend.time_delta.hour.format("%.0f"))</td><td>$trend.barometer</td></tr>
                        <tr><td>Вятър</td><td>$current.windSpeed $current.windDir.ordinal_compass ($current.windDir)</td></tr>
                        <tr><td>Интензивност на дъжда</td><td>$current.rainRate</td></tr>
                        <tr><td>Вътрешна температура</td><td>$current.inTemp</td></tr>
                        <tr><td><a href="http://stats.initlab.org/dashboard/db/particulate-matter-troyan?refresh=2m&orgId=1">Нива на фини прахови частици</a></tr></td>
                        #if $day.extraTemp1.has_data
                        <tr><td>Температура на езерото</td><td>$current.extraTemp1</td></tr>
                        #end if
                        #if $day.UV.has_data
                        <tr><td>УВ индекс</td><td>$current.UV</td></tr>
                        #end if
                        #if $day.ET.has_data and $day.ET.sum.raw > 0.0
                        <tr><td>ET</td><td>$current.ET</td></tr>
                        #end if
                        #if $day.radiation.has_data
                        <tr><td>Слънчева радиация</td><td>$current.radiation</td></tr>
                        #end if
                    </table>
                </div>

                #if $Extras.has_key('webcam_img_1')
                <div class="card" >
                  <a href="$Extras.webcam_img_1" target="_blank">
                    <img src="$Extras.webcam_img_1" alt="Webcam" class="space small" />
                  </a>
                </div>
                #end if

                #if $Extras.has_key('webcam_img_2')
                <div class="card" >
                  <a href="$Extras.webcam_img_2" target="_blank">
                    <img src="$Extras.webcam_img_2" alt="Webcam" class="space small" />
                  </a>
                </div>
                #end if
                
                <div class="card" >
                    <h1><i class="fa fa-moon-o m-grau" ></i> От полунощ насам</h1>
                    <table class="tablespacer">
                        <tr><td>Макс. температура</td><td>$day.outTemp.max</td><td>$day.outTemp.maxtime</td></tr>
                        <tr><td>Мин. температура</td><td>$day.outTemp.min</td><td>$day.outTemp.mintime</td></tr>
                        <tr><td>Макс. топлинен индекс</td><td>$day.heatindex.max</td><td>$day.heatindex.maxtime</td></tr>
                        <tr><td>Мин. мразовитост</td><td>$day.windchill.min</td><td>$day.windchill.mintime</td></tr>
                        <tr><td>Макс. точка на оросяване</td><td>$day.dewpoint.max</td><td>$day.dewpoint.maxtime</td></tr>
                        <tr><td>Мин. точка на оросяване</td><td>$day.dewpoint.min</td><td>$day.dewpoint.mintime</td></tr>
                        <tr><td>Макс. влажност</td><td>$day.outHumidity.max</td><td>$day.outHumidity.maxtime</td></tr>
                        <tr><td>Мин. влажност</td><td>$day.outHumidity.min</td><td>$day.outHumidity.mintime</td></tr>
                        <tr><td>Макс. налягане (барометър)</td><td>$day.barometer.max</td><td>$day.barometer.maxtime</td></tr>
                        <tr><td>Мин. налягане (барометър)</td><td>$day.barometer.min</td><td>$day.barometer.mintime</td></tr>
                        <tr><td>Количество дъжд днес</td><td>$day.rain.sum</td><td></td></tr>
                        <tr><td>Макс. интензивност на дъжда</td><td>$day.rainRate.max</td><td>$day.rainRate.maxtime</td></tr>
                        <tr><td>Най-силен вятър</td><td>$day.wind.max $day.wind.gustdir</td><td>$day.wind.maxtime</td></tr>
                        <tr><td>Ср. скорост на вятъра</td><td>$day.wind.avg</td><td></td></tr>
                        <tr><td><abbr title="Средно квадратично">СК</abbr> на скоростта на вятъра</td><td>$day.wind.rms</td><td></td></tr>
                        <tr><td>Ср. скорост на векторите на вятъра</td><td>$day.wind.vecavg</td><td></td></tr>
                        <tr><td>Ср. посока на векторите на вятъра</td><td>$day.wind.vecdir</td><td></td></tr>
                        <tr><td>Макс. вътрешна температура</td><td>$day.inTemp.max</td><td>$day.inTemp.maxtime</td></tr>
                        <tr><td>Мин. вътрешна температура</td><td>$day.inTemp.min</td><td>$day.inTemp.mintime</td></tr>
                        #if $day.extraTemp1.has_data
                        <tr><td>Макс. температура на езерото</td><td>$day.extraTemp1.max</td><td>$day.extraTemp1.maxtime</td></tr>
                        <tr><td>Мин. температура на езерото</td><td>$day.extraTemp1.min</td><td>$day.extraTemp1.mintime</td></tr>
                        #end if
                        #if $day.UV.has_data
                        <tr><td>Макс. УВ индекс</td><td>$day.UV.max</td><td>$day.UV.maxtime</td></tr>
                        <tr><td>Мин. УВ индекс</td><td>$day.UV.min</td><td>$day.UV.mintime</td></tr>
                        #end if
                        #if $day.ET.has_data and $day.ET.sum.raw >0.0
                        <tr><td>Макс. ET</td><td>$day.ET.max</td><td>$day.ET.maxtime</td></tr>
                        <tr><td>Мин. ET</td><td>$day.ET.min</td><td>$day.ET.mintime</td></tr>
                        #end if
                        #if $day.radiation.has_data
                        <tr><td>Макс. радиация</td><td>$day.radiation.max</td><td>$day.radiation.maxtime</td></tr>
                        <tr><td>Мин. радиация</td><td>$day.radiation.min</td><td>$day.radiation.mintime</td></tr>
                        #end if
                    </table>
                </div>

                #if $Extras.has_key('radar_img')
                <div class="card" >
                    #if $Extras.has_key('radar_url')
                    <a href="$Extras.radar_url" target="_blank">
                    #end if
                    <img src="$Extras.radar_img" alt="Radar" id="radar" class="space small" />
                    #if $Extras.has_key('radar_url')
                    </a>
                    #end if

                    <h3>
                        #if $Extras.has_key('radar_gif')

                        <a id="btn1" class="cpointer" >Картинка / Анимация</a>
                        <script>
                            function changeRadar() {
                                if(document.getElementById("radar").src == "$Extras.radar_img") {
                                    document.getElementById("radar").src = "$Extras.radar_gif";
                                } else {
                                    document.getElementById("radar").src = "$Extras.radar_img";
                                }
                            }

                            var el = document.getElementById('btn1');
                            el.onclick = changeRadar;
                        </script>
                        #end if

                        #if $Extras.has_key('radar_url_alt')
                        #if $Extras.has_key('radar_url_alt_text')
                        | <a href="$Extras.radar_url_alt" target="_blank" >$Extras.radar_url_alt_text</a>
                        #else
                        | <a href="$Extras.radar_url_alt" target="_blank" >Втори радар</a>
                        #end if
                        #end if
                    </h3>

                </div>
                #end if

                #if $Extras.has_key('lightning_map')
                <div class="card" >
                    #if $Extras.has_key('lightning_url')
                    <a href="$Extras.lightning_url" target="_blank">
                    #end if
                    <img src="$Extras.lightning_map" alt="Lightning Map" class="space small" />
                    #if $Extras.has_key('lightning_url')
                    </a>
                    #end if
                </div>
                #end if

            </div>

            <div class="right" >

                <div class="card cc graphs" >
                    <h1><i class="fa fa-line-chart m-gruen" ></i> Графики</h1>

                    <img src="daytempdew.png" alt="temperatures" />
                    <img src="daybarometer.png" alt="barometer"/>
                    <img src="dayinside.png" alt="Inside" />
                    <img src="daytempchill.png" alt="heatchill" />
                    <img src="dayrain.png" alt="rain" />
                    <div>
                      <img src="Bootstrap/windRoseGauge.png" alt="wind rose"/>
                      <br>
                      Роза на вятъра
                    </div>
                    <div class="wind-gauge">
                      <img src="windDirGauge.png" alt="wind direction"/>
                      Посока на вятъра
                      <br>
                    </div>
                    <div class="wind-gauge">
                      <img src="windSpeedGauge.png" alt="wind speed"/>
                      <br>
                      Скорост на вятъра
                    </div>
                    <div class="wind-gauge">
                      <img src="windGustGauge.png" alt="wind gust speed"/>
                      <br>
                      Скорост на поривите
                    </div>
                    <img src="daywind.png" alt="wind" />
                    <img src="daywinddir.png" alt="Hi Wind" />
                    <img src="daywindvec.png" alt="Wind Vector" />
                    <img src="dayhumidity.png" alt="humidity" />
                    #if $day.radiation.has_data
                    <img src="dayradiation.png" alt="Radiation" />
                    #end if
                    #if $day.UV.has_data
                    <img src="dayuv.png" alt="UV Index" />
                    #end if
                    #if $day.rxCheckPercent.has_data
                    <img src="dayrx.png" alt="day rx percent"/>
                    #end if
                    #if $day.extraTemp1.has_data
                    <img src="daypond.png" alt="Pond Temperatures" />
                    #end if
                </div>

                <div class="card" >
                    <h1><i class="fa fa-star-o m-rot" ></i> Алманах</h1>
                    #if $almanac.hasExtras
                    ## Extended almanac information is available. Do the full set of tables.
                    #set $sun_altitude = $almanac.sun.alt
                    #if $sun_altitude < 0
                    #set $sun_None="<i>(Постоянно залязло)</i>"
                    #else
                    #set $sun_None="<i>(Постоянно видимо)</i>"
                    #end if
                    <div class="haelfte" >
                        <h3>Слънце</h3>
                        <table>
                            <tr><td>Начало на гражданския полумрак:</td><td>$almanac(horizon=-6).sun(use_center=1).rise</td></tr>
                            <tr><td>Изгрев</td><td>$almanac.sun.rise.string($sun_None)</td></tr>
                            <tr><td>Транзит:</td><td>$almanac.sun.transit</td></tr>
                            <tr><td>Залез:</td><td>$almanac.sun.set.string($sun_None)</td></tr>
                            <tr><td>Край на гражданския полумрак:</td><td>$almanac(horizon=-6).sun(use_center=1).set</td></tr>
                            <tr><td>Азимут:</td><td>$("%.1f&deg;" % $almanac.sun.az)</td></tr>
                            <tr><td>Височина:</td><td>$("%.1f&deg;" % $sun_altitude)</td></tr>
                            <tr><td>Ректасцензия:</td><td>$("%.1f&deg;" % $almanac.sun.ra)</td></tr>
                            <tr><td>Деклинация:</td><td>$("%.1f&deg;" % $almanac.sun.dec)</td></tr>
                            #if $almanac.next_equinox.raw < $almanac.next_solstice.raw
                            ## The equinox is before the solstice. Display them in order.
                            <tr><td>Равноденствие:</td><td>$almanac.next_equinox</td></tr>
                            <tr><td>Слънцестоене:</td><td>$almanac.next_solstice</td></tr>
                            #else
                            ## The solstice is before the equinox. Display them in order.
                            <tr><td>Слънцестоене:</td><td>$almanac.next_solstice</td></tr>
                            <tr><td>Равноденствие:</td><td>$almanac.next_equinox</td></tr>
                            #end if
                        </table>
                    </div>
                    <div class="haelfte" >
                        <h3>Луна</h3>
                        <table>
                            <tr><td>Изгрев:</td><td>$almanac.moon.rise</td></tr>
                            <tr><td>Транзит:</td><td>$almanac.moon.transit</td></tr>
                            <tr><td>Залез:</td><td>$almanac.moon.set</td></tr>
                            <tr><td>Азимут:</td><td>$("%.1f&deg;" % $almanac.moon.az)</td></tr>
                            <tr><td>Височина:</td><td>$("%.1f&deg;" % $almanac.moon.alt)</td></tr>
                            <tr><td>Ректасцензия:</td><td>$("%.1f&deg;" % $almanac.moon.ra)</td></tr>
                            <tr><td>Деклинация:</td><td>$("%.1f&deg;" % $almanac.moon.dec)</td></tr>
                            #if $almanac.next_full_moon.raw < $almanac.next_new_moon.raw
                            <tr><td>Пълнолуние:</td><td>$almanac.next_full_moon</td></tr>
                            <tr><td>Новолуние:</td><td>$almanac.next_new_moon</td></tr>
                            #else
                            <tr><td>Новолуние:</td><td>$almanac.next_new_moon</td></tr>
                            <tr><td>Пълнолуние:</td><td>$almanac.next_full_moon</td></tr>
                            #end if
                            <tr><td>Фаза:</td><td>$almanac.moon_phase<br />($almanac.moon_fullness% пълна)</td></tr>
                        </table>
                    </div>
                    #else
                    ## No extended almanac information available. Fall back to a simple table.
                    <table>
                        <tr><td>Изгрев:</td><td>$almanac.sunrise</td></tr>
                        <tr><td>Залез:</td><td>$almanac.sunset</td></tr>
                        <tr><td>Лунна фаза:</td><td>$almanac.moon_phase<br/>($almanac.moon_fullness% full)</td></tr>
                    </table>
                    #end if
                </div>

            </div>
        </div>
        </div>

        <footer>
            <div class="container-fix" >
            Някои права запазени. &copy; 2016
            #if $Extras.has_key('you')
            $Extras.you
            #end if
            &sdot; Source on <a href="https://github.com/ignisf/sofaskin-bulgarian" >Github</a>
            &sdot; Design by <a href="http://blauesledersofa.de" >blaues Ledersofa</a>
            &sdot; Powered by <a href="http://weewx.com/" target="_blank" >weewx</a>
            </div>
        </footer>

        #if $Extras.has_key('googleAnalyticsId')
        <!-- Google Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '$Extras.googleAnalyticsId', 'auto');
            ga('send', 'pageview');
        </script>
        #end if
    </body>
</html>
