#encoding UTF-8
<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="profile" href="http://gmpg.org/xfn/11" />

        <title>$station.location – Седмично метеорологично обобщение</title>

        <!-- Open Graph -->
        <meta property="og:site_name" content="$station.location – седмично метеорологично обобщение" />
        <meta property="og:description" content="Седмично метеорологично обобщение от $station.location" />
		<meta property="og:type" content="website" />

        <!-- Icons -->
        <link rel="icon" href="favicon.ico" type="image/png">
		<link rel="apple-touch-icon" href="touch-icon.png"/>

        <!-- Styles -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/main.css">

        <!-- Skripte -->
        <script src="js/modernizr-2.6.2.min.js"></script>

        <script type="text/javascript">
            function openNoaaFile(date)
            {
                var url = "NOAA/NOAA-";
                url = url + date;
                url = url + ".txt";
                if(date !== "Месечно обобщение" && date !== "Годишно обобщение") {
                    window.location=url;
                }
            }
        </script>
    </head>
    <body>
        <header>
            <div class="container-fix" >
                <div class="h-left" >
                <h1><i class="fa fa-cloud" ></i> $station.location</h1>
                <p>$station.latitude[0]&deg; $station.latitude[1]' $station.latitude[2]Ш | $station.longitude[0]&deg; $station.longitude[1]' $station.longitude[2]Д | $station.altitude | <a href="https://www.google.com/maps/?q=$station.location" target="_blank" ><i class="fa fa-map-marker" ></i> Покажи на картата</a></p>
                <h2>Седмично метеорологично обобщение</h2>
                <p><i class="fa fa-clock-o" ></i> $current.dateTime</p>
                </div>

                <div class="h-right" >
                    <table>
                        <tr><td><b>Станция:</b></td><td>$station.hardware</td></tr>
                        <tr><td><b>Софтуер:</b></td><td><a href="http://weewx.com/" target="_blank" >weewx v$station.version</a></td></tr>
                        <tr><td><b>Време на работа на софтуера:</b></td><td>$station.uptime</td></tr>
                        <tr><td><b>Време на работа на сървъра:</b></td><td>$station.os_uptime</td></tr>
                    </table>
                </div>

                <nav>
                    <ul>
                        <li><a href="index.html" >Сега</a></li>
                        <li class="active"><a href="week.html" >Седмица</a></li>
                        <li><a href="month.html" >Месец</a></li>
                        <li><a href="year.html" >Година</a></li>
                        <li><a href="RSS/weewx_rss.xml" >RSS</a></li>
                        <li><select name="noaaselect" onchange="openNoaaFile(value)">
                                <option>Месечно обобщение</option>
                                #for $monthYear in $SummaryByMonth
                                    <option value="$monthYear">$monthYear</option>
                                #end for
                            </select></li>
                        <li><select name="noaaselect" onchange="openNoaaFile(value)">
                                <option>Годишно обобщение</option>
                                #for $yr in $SummaryByYear
                                    <option value="$yr">$yr</option>
                                #end for
                            </select></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="main" >
        <div class="container" >

            <div class="left" >

                <div class="card" >
                    <h1><i class="fa fa-cloud m-grau" ></i> Тази седмица</h1>
                    <table class="tablespacer">
                        <tr><td>Макс. температура</td><td>$week.outTemp.max</td><td>$week.outTemp.maxtime</td></tr>
                        <tr><td>Мин. температура</td><td>$week.outTemp.min</td><td>$week.outTemp.mintime</td></tr>
                        <tr><td>Макс. топлинен индекс</td><td>$week.heatindex.max</td><td>$week.heatindex.maxtime</td></tr>
                        <tr><td>Мин. еквивалентна температура</td><td>$week.windchill.min</td><td>$week.windchill.mintime</td></tr>
                        <tr><td>Макс. точка на оросяване</td><td>$week.dewpoint.max</td><td>$week.dewpoint.maxtime</td></tr>
                        <tr><td>Мин. точка на оросяване</td><td>$week.dewpoint.min</td><td>$week.dewpoint.mintime</td></tr>
                        <tr><td>Макс. влажност</td><td>$week.outHumidity.max</td><td>$week.outHumidity.maxtime</td></tr>
                        <tr><td>Мин. влажност</td><td>$week.outHumidity.min</td><td>$week.outHumidity.mintime</td></tr>
                        <tr><td>Макс. налягане (<abbr title="Налягане, коригирано за надморска височина, температура и влажност.">барометър</abbr>)</td><td>$week.barometer.max</td><td>$week.barometer.maxtime</td></tr>
                        <tr><td>Мин. налягане (<abbr title="Налягане, коригирано за надморска височина, температура и влажност.">барометър</abbr>)</td><td>$week.barometer.min</td><td>$week.barometer.mintime</td></tr>
                        <tr><td>Количество дъжд днес</td><td>$week.rain.sum</td><td></td></tr>
                        <tr><td>Макс. интензивност на дъжда</td><td>$week.rainRate.max</td><td>$week.rainRate.maxtime</td></tr>
                        <tr><td>Най-силен вятър</td><td>$week.wind.max $week.wind.gustdir</td><td>$week.wind.maxtime</td></tr>
                        <tr><td>Ср. скорост на вятъра</td><td>$week.wind.avg</td><td></td></tr>
                        <tr><td><abbr title="Средно квадратично">СК</abbr> на скоростта на вятъра</td><td>$week.wind.rms</td><td></td></tr>
                        <tr><td>Ср. скорост на векторите на вятъра</td><td>$week.wind.vecavg</td><td></td></tr>
                        <tr><td>Ср. посока на векторите на вятъра</td><td>$week.wind.vecdir</td><td></td></tr>
                        <tr><td>Макс. вътрешна температура</td><td>$week.inTemp.max</td><td>$week.inTemp.maxtime</td></tr>
                        <tr><td>Мин. вътрешна температура</td><td>$week.inTemp.min</td><td>$week.inTemp.mintime</td></tr>
                        #if $week.extraTemp1.has_data
                        <tr><td>Макс. температура на езерото</td><td>$week.extraTemp1.max</td><td>$week.extraTemp1.maxtime</td></tr>
                        <tr><td>Мин. температура на езерото</td><td>$week.extraTemp1.min</td><td>$week.extraTemp1.mintime</td></tr>
                        #end if
                        #if $week.UV.has_data
                        <tr><td>Макс. УВ индекс</td><td>$week.UV.max</td><td>$week.UV.maxtime</td></tr>
                        <tr><td>Мин. УВ индекс</td><td>$week.UV.min</td><td>$week.UV.mintime</td></tr>
                        #end if
                        #if $week.ET.has_data and $week.ET.sum.raw >0.0
                        <tr><td>Макс. ET</td><td>$week.ET.max</td><td>$week.ET.maxtime</td></tr>
                        <tr><td>Мин. ET</td><td>$week.ET.min</td><td>$week.ET.mintime</td></tr>
                        #end if
                        #if $week.radiation.has_data
                        <tr><td>Макс. радиация</td><td>$week.radiation.max</td><td>$week.radiation.maxtime</td></tr>
                        <tr><td>Мин. радиация</td><td>$week.radiation.min</td><td>$week.radiation.mintime</td></tr>
                        #end if
                    </table>
                </div>

                <div class="card" >
                    <h1><i class="fa fa-calendar m-orange" ></i> Този месец</h1>
                    <table class="tablespacer">
                        <tr><td>Макс. температура</td><td>$month.outTemp.max</td><td>$month.outTemp.maxtime</td></tr>
                        <tr><td>Мин. температура</td><td>$month.outTemp.min</td><td>$month.outTemp.mintime</td></tr>
                        <tr><td>Макс. топлинен индекс</td><td>$month.heatindex.max</td><td>$month.heatindex.maxtime</td></tr>
                        <tr><td>Мин. еквивалентна температура</td><td>$month.windchill.min</td><td>$month.windchill.mintime</td></tr>
                        <tr><td>Макс. точка на оросяване</td><td>$month.dewpoint.max</td><td>$month.dewpoint.maxtime</td></tr>
                        <tr><td>Мин. точка на оросяване</td><td>$month.dewpoint.min</td><td>$month.dewpoint.mintime</td></tr>
                        <tr><td>Макс. влажност</td><td>$month.outHumidity.max</td><td>$month.outHumidity.maxtime</td></tr>
                        <tr><td>Мин. влажност</td><td>$month.outHumidity.min</td><td>$month.outHumidity.mintime</td></tr>
                        <tr><td>Макс. налягане (<abbr title="Налягане, коригирано за надморска височина, температура и влажност.">барометър</abbr>)</td><td>$month.barometer.max</td><td>$month.barometer.maxtime</td></tr>
                        <tr><td>Мин. налягане (<abbr title="Налягане, коригирано за надморска височина, температура и влажност.">барометър</abbr>)</td><td>$month.barometer.min</td><td>$month.barometer.mintime</td></tr>
                        <tr><td>Количество дъжд днес</td><td>$month.rain.sum</td><td></td></tr>
                        <tr><td>Макс. интензивност на дъжда</td><td>$month.rainRate.max</td><td>$month.rainRate.maxtime</td></tr>
                        <tr><td>Най-силен вятър</td><td>$month.wind.max $month.wind.gustdir</td><td>$month.wind.maxtime</td></tr>
                        <tr><td>Ср. скорост на вятъра</td><td>$month.wind.avg</td><td></td></tr>
                        <tr><td><abbr title="Средно квадратично">СК</abbr> на скоростта на вятъра</td><td>$month.wind.rms</td><td></td></tr>
                        <tr><td>Ср. скорост на векторите на вятъра</td><td>$month.wind.vecavg</td><td></td></tr>
                        <tr><td>Ср. посока на векторите на вятъра</td><td>$month.wind.vecdir</td><td></td></tr>
                        <tr><td>Макс. вътрешна температура</td><td>$month.inTemp.max</td><td>$month.inTemp.maxtime</td></tr>
                        <tr><td>Мин. вътрешна температура</td><td>$month.inTemp.min</td><td>$month.inTemp.mintime</td></tr>
                        #if $month.extraTemp1.has_data
                        <tr><td>Макс. температура на езерото</td><td>$month.extraTemp1.max</td><td>$month.extraTemp1.maxtime</td></tr>
                        <tr><td>Мин. температура на езерото</td><td>$month.extraTemp1.min</td><td>$month.extraTemp1.mintime</td></tr>
                        #end if
                        #if $month.UV.has_data
                        <tr><td>Макс. УВ индекс</td><td>$month.UV.max</td><td>$month.UV.maxtime</td></tr>
                        <tr><td>Мин. УВ индекс</td><td>$month.UV.min</td><td>$month.UV.mintime</td></tr>
                        #end if
                        #if $month.ET.has_data and $month.ET.sum.raw >0.0
                        <tr><td>Макс. ET</td><td>$month.ET.max</td><td>$month.ET.maxtime</td></tr>
                        <tr><td>Мин. ET</td><td>$month.ET.min</td><td>$month.ET.mintime</td></tr>
                        #end if
                        #if $month.radiation.has_data
                        <tr><td>Макс. радиация</td><td>$month.radiation.max</td><td>$month.radiation.maxtime</td></tr>
                        <tr><td>Мин. радиация</td><td>$month.radiation.min</td><td>$month.radiation.mintime</td></tr>
                        #end if
                    </table>
                </div>

            </div>

            <div class="right" >

                <div class="card cc graphs" >
                    <h1><i class="fa fa-line-chart m-gruen" ></i> Седмична статистина и графики</h1>

                    <img src="weektempdew.png" alt="temperatures" />
                    <img src="weektempchill.png" alt="heatchill" />
                    <img src="weekhumidity.png" alt="humidity" />
                    <img src="weekrain.png" alt="rain" />
                    <img src="weekwind.png" alt="wind" />
                    <img src="weekbarometer.png" alt="barometer"/>
                    <img src="weekwinddir.png" alt="Hi Wind" />
                    <img src="weekinside.png" alt="Inside" />
                    <img src="weekwindvec.png" alt="Wind Vector" />
                    #if $week.UV.has_data
                    <img src="weekuv.png" alt="UV index" />
                    #end if
                    #if $week.radiation.has_data
                    <img src="weekradiation.png" alt="Radiation" />
                    #end if
                    #if $week.UV.has_data
                    <img src="weekuv.png" alt="UV Index" />
                    #end if
                    #if $week.rxCheckPercent.has_data
                    <img src="weekrx.png" alt="week rx percent"/>
                    #end if
                    #if $week.extraTemp1.has_data
                    <img src="weekpond.png" alt="Pond Temperatures" />
                    #end if
                </div>

            </div>
        </div>
        </div>

        <footer>
            <div class="container-fix" >
            Всички права запазени. &copy; 2016
            #if $Extras.has_key('you')
            $Extras.you
            #end if
            &sdot; Design by <a href="http://blauesledersofa.de" >blaues Ledersofa</a>
            &sdot; Powered by <a href="http://weewx.com/" target="_blank" >weewx</a>
            </div>
        </footer>

        #if $Extras.has_key('googleAnalyticsId')
        <!-- Google Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '$Extras.googleAnalyticsId', 'auto');
            ga('send', 'pageview');
        </script>
        #end if
    </body>
</html>
